{% extends "base.html" %}

{% load static wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/xiab-exercises.css' %}">
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>{{page.title}}</h1>
            {{ page.summary|richtext }}
            <p><a href="{{ page.get_parent.url }}">{{ page.get_parent }}</a></p>
        </div>
    </div>

    {% verbatim %}
        <div id="exercise-app" class="container">
            <h2>Question</h2>

            <div v-html="questions[questionIndex].questionText"></div>
            <input v-model="questions[questionIndex].userAnswer">

            <button class="btn btn-success" v-on:click="checkAnswer()" :disabled="questions[questionIndex].userAnswer === ''">
                Submit
            </button>

            <span class="question-result success" v-if="questions[questionIndex].result === true">
                &#10003;
            </span>
            <span class="question-result failure" v-if="questions[questionIndex].result === false">
                &times;
            </span>

            <div class="row">
                <button class="btn btn-primary" v-on:click="questionIndex--" :disabled="questionIndex === 0">
                    Previous question
                </button>
                <button class="btn btn-primary" v-on:click="questionIndex++" :disabled="questionIndex === questions.length - 1">
                    Next question
                </button>
            </div>
        </div>
    {% endverbatim %}

    <div class="container">
        <div class="row">
            {% if prev_lesson %}
                <a href="{{ prev_lesson.url }}">
                    <span class="navigation-name">&lt; {{ prev_lesson }}</span>
                </a>
            {% endif %}

            {% if next_lesson %}
                <a href="{{ next_lesson.url }}">
                    <span class="navigation-name">{{ next_lesson }} &gt;</span>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <script type="text/javascript">
        var questions = [
            {% for question in page.questions %}
                {
                    questionText: '{{ question.value.question|richtext }}',
                    answer: '{{ question.value.answer }}',
                    userAnswer: "",
                    result: null,
                },
            {% endfor %}
        ];
    </script>

    <script type="text/javascript" src="{% static 'js/xiab-exercises.js' %}"></script>
{% endblock %}
