{% extends "base.html" %}

{% load static wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/xiab-exercises.css' %}">
{% endblock %}

{% block header %}
    <p><a href="{{ page.get_parent.url }}">{{ page.get_parent }}</a></p>
    <h1>{{page.title}}</h1>
    {{ page.summary|richtext }}
{% endblock %}

{% block content %}
    {% verbatim %}
        <div class="container">
            <div id="exercise-app" class="card" v-cloak>
                <div class="card-header">
                    Question {{ questionIndex + 1 }} of {{ questions.length }}.
                    <span class="question-result success" v-if="currentQuestion.result === true">&#10003;</span>
                    <span class="question-result failure" v-if="currentQuestion.result === false">&times;</span>
                </div>

                <div class="card-body">
                    <div class="card-text" v-html="currentQuestion.text"></div>

                    <div v-if="currentQuestion.type === 'numeric'">
                        <input v-model="currentQuestion.userAnswer">
                    </div>

                    <div v-else-if="currentQuestion.type === 'multiple_choice'">
                        <fieldset>
                            <div v-for="option, index in currentQuestion.options">
                                <input type="radio" v-model="currentQuestion.userAnswer" :value="index" />
                                <label :for="option">{{ option }}</label>
                            </div>
                        </fieldset>
                    </div>

                    <button class="btn btn-success" v-on:click="checkAnswer()" :disabled="disableSubmission()">
                        Submit
                    </button>
                </div>

                <div class="card-footer">
                    <div class="btn-group" role="group" aria-label="Navigation buttons">
                        <button class="btn btn-primary" v-on:click="changeQuestion(-1)" :disabled="questionIndex === 0">
                            Previous question
                        </button>
                        <button class="btn btn-primary" v-on:click="changeQuestion(1)" :disabled="questionIndex === questions.length - 1">
                            Next question
                        </button>
                    </div>
                </div>

            </div>
        </div>
    {% endverbatim %}

    <div class="container">
        <div class="row">
            {% if prev_lesson %}
                <a href="{{ prev_lesson.url }}">
                    <span class="navigation-name">&lt; {{ prev_lesson }}</span>
                </a>
            {% endif %}

            {% if next_lesson %}
                <a href="{{ next_lesson.url }}">
                    <span class="navigation-name">{{ next_lesson }} &gt;</span>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <script type="text/javascript">
        var questions = [
            {% for question in page.questions %}
                {
                    type: '{{ question.block_type }}',
                    text: '{{ question.value.question|richtext }}',

                    {% if question.block_type == 'numeric' %}
                        answer: {{ question.value.answer }},
                    {% elif question.block_type == 'multiple_choice' %}
                        options: [
                            {% for answer in question.value.answers %}
                                '{{ answer }}',
                            {% endfor %}
                        ],
                        answer: {{ question.value.correct_answer }},
                    {% endif %}
                    userAnswer: null,
                        result: null,
                },
            {% endfor %}
        ];
    </script>

    <script type="text/javascript" src="{% static 'js/xiab-exercises.js' %}"></script>
{% endblock %}
