{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block title %}Login{% endblock %}
{% block body_class %}template-resgister{% endblock %}

{% block header %}
    <h1>Login</h1>
{% endblock %}

{% block content %}
    <div class="container text-center">
        <form class="form-signin" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

            <label for="username" class="sr-only">Username</label>
            <input id="username" class="form-control" name="username" placeholder="username" required autofocus>

            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" class="form-control" name="password" placeholder="password" required>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>
{% endblock %}