{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block title %}Sign up{% endblock %}
{% block body_class %}template-register{% endblock %}

{% block header %}
    <h1>Sign up</h1>
{% endblock %}

{% block content %}
    <div class="container">
        {% if not user.is_authenticated %}
            <form role="form" method="post" action=".">
                {% csrf_token %}
                
                <div class="form-group">
                    <p class="required">
                        <label for="id_username">Username:</label>
                        <input class="form-control" id="id_username" maxlength="30" name="username" type="text" placeholder="Enter username">
                    </p>
                </div>

                <div class="form-group">
                    <p class="required">
                        <label for="id_email">Email:</label>
                        <input class="form-control" id="id_email" name="email" type="email" placeholder="Enter email">
                    </p>
                </div>

                <div class="form-group">
                    <p class="required">
                        <label for="id_password">Password:</label>
                        <input class="form-control" id="id_password" name="password" type="password" placeholder="Enter password">
                    </p>
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        {% else %}
            <p>You are already signed in.</p>
        {% endif %}
    </div>

{% endblock %}